@tailwind base;
@tailwind components;
@tailwind utilities;


.hbutton {
  @apply p-2 rounded-md hover:bg-light-bg-5 hover:dark:bg-dark-bg-5 
}

.hinput {
  @apply rounded-md hover:bg-light-bg-5 hover:dark:bg-dark-bg-5 p-2 h-6 text-light-fg dark:text-dark-fg bg-light-bg-3 dark:bg-dark-bg-3 border-2 dark:border-dark-bg-5 border-light-grey-0
}

/* FIREFOX */
@-moz-document url-prefix() {
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-base-color: blue;
  }
}

.hinput:focus {
  @apply outline-none ring-0 border-light-aqua dark:border-dark-dim-aqua
}

/* CHROME */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: var(--font-merriweather);
}

p {
  font-family: var(--font-rubik);
}