@tailwind base;
@tailwind components;
@tailwind utilities;

.hbutton {
  @apply rounded-none hover:bg-slate-300 hover:dark:bg-slate-600;
}

.hinput {
  @apply rounded-md hover:bg-slate-300 hover:dark:bg-slate-600 text-slate-600 dark:text-slate-100 bg-white dark:bg-slate-800 border-2 dark:border-slate-600 border-slate-300;
}

.skillshadow {
  @apply border-slate-300;
  @apply dark:border-slate-600;
}

.hborder {
  @apply divide-x-2 border-2 rounded-md;
  @apply border-slate-300 divide-slate-300;
  @apply dark:border-slate-600 dark:divide-slate-600;
}

.link {
  @apply text-indigo-500 dark:text-indigo-300;
}

.buttonoutlined {
  @apply order-2 rounded-md skillshadow p-2 hover:bg-white dark:hover:bg-slate-800;
}

/* FIREFOX */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-base-color: blue;
  }
}

.hinput:focus {
  @apply outline-none ring-0 border-emerald-400 dark:border-emerald-300;
}

/* CHROME */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  @apply text-3xl;
  font-family: var(--font-merriweather);
}

h2 {
  @apply text-2xl;
  font-family: var(--font-merriweather);
}

p {
  @apply text-base my-4 indent-4;
  font-family: var(--font-rubik);
}

div {
  font-family: var(--font-rubik);
}
