@tailwind base;
@tailwind components;
@tailwind utilities;


.hbutton {
  @apply p-2 rounded-md hover:bg-light-bg-5 hover:dark:bg-dark-bg-5 
}

/* FIREFOX */
@-moz-document url-prefix() {
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    scrollbar-base-color: blue;
  }
}

/* CHROME */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: var(--font-merriweather);
}

p {
  font-family: var(--font-rubik);
}